/* 
CSS garden design file by Sophie Lyon

---------------
01 color
02 layout
03 font
04 other decoration
05 media 
*/

/* 01 Color */

html{
    background-color: hsla(180, 50%, 88%, .3);
    padding: 2%;
}

body{
    background-color: hsl(210, 100%, 88%, .9);
    padding: 2%;
}

div.preamble,div.requirements, div.benefits{
    background-color: white;
    color: hsl(270, 100%, 12%);
}

header h1{
    background-color: hsla(330, 100%, 38%, 0.3);
}

footer{
    background-color: hsla(330, 100%, 38%, 0.3);
}

div.participation{
    background-color: hsla(150, 100%, 63%, 0.8);
}

aside.sidebar{
    background-color: hsla(180, 25%, 25%, 0.4);
}

/* 02 Layout */
div,article,section,header,nav,figure,li{
    position: relative;
}

header h1{
    position: relative;
    left: 30px;
    width: 180px;
}

aside.sidebar{
    position: absolute; 
    top: 1px;
    right:0%;
    width: 43%;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 15%;
    left: 30%;
}

section.intro{
    width: 55%;
} 

section.intro div.preamble{
    margin-left: -30%;
    padding: 5% 5% 5% 30%;
    border: hsl(270, 50%, 75%) double 5px;
}

div.explanation{
    float: left;
    width: 40%;
    padding: 5%;
    bottom: 20px;
}

div.participation{
    margin-left: 50%;
    width: 45%;
    padding: 3%;
}

div.benefits{
    float: left;
    width: 39%;
    padding:3%;
    bottom: 30px;
}

div.requirements{
    margin-left: 50%;
    width: 45%;
    padding: 1%;
    top: 50px;
}

/* font */

body{
    font-family:'Times New Roman', Times, serif;
}

/* local font */

@font-face {
    font-family: 'specialfont';
    src: url('../fonts/chunkfive.woff');
}

header h1{
    font-family: 'specialfont';
    text-indent: 2px;
    background-image: url('../img/zengarden.gif');
}

a{
    text-decoration: none;
    font: bold;
    color: hsl(150, 91%, 30%);
}

p, li{
    font-family: 'Goudy Old Style',serif;
}

header h2{
    font-family: 'specialfont';
}

h3{
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 1.5px;
    line-height: 1em;
}

/* Nav bar on top */
#zen-resources{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: hsla(270, 50%, 75%, 0.8);
}

#zen-resources h3{
    display: none;
}

#zen-resources ul li {
    display: inline-block;
    margin: 10px auto;
    padding: 2px;
    border: hsl(150, 50%, 50%) outset 2px;
    list-style: none;
}

#zen-resources a{
    color: black;
}

/* hover, active practice */
p:hover{
    border:  hsla(330, 100%, 15%, 0.8) solid 2px
}

h3:active~p{
    visibility: hidden;
}

li:first-of-type{
    color: yellowgreen;
}

p::first-letter{
    font-size: 150%;
    text-transform:capitalize;
}

p:nth-child(3n){
    background-color: bisque;
}

p:nth-child(3n+1){
    background-color:darksalmon;
}

p:nth-child(3n+2){
    background-color:lemonchiffon;
}